<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-card-content>
            <mat-form-field>

                <input matInput type="text" ngModel name="title" required #title="ngModel" placeholder="Post title*">
                <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>

            </mat-form-field>
            <mat-form-field >

                <textarea  matInput  rows="4" ngModel name="content"  required #content="ngModel" placeholder="Post content*"></textarea>
                <mat-error *ngIf="content.invalid">Please enter a Text.</mat-error>

            </mat-form-field>

            <button mat-raised-button color="warn">save post</button>
        </mat-card-content>
    </form>
   
    
</mat-card>


